body {
    font-family: "Cinzel", serif;
}

.app-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.app-main {
    flex: 1;
    padding: 1rem;
    overflow: auto;
}

.map-wrapper {
    position: relative; /* обнуляем absolute от Konva */
    display: inline-block;
}